certifi==2018.4.16
numpy==1.14.2
pandas==0.22.0
pipenv==2018.5.18
python-dateutil==2.7.2
pytz==2018.3
queuelib==1.4.2
recordtype==1.1
redis==2.10.6
robotframework==3.0.2
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary==3.1.1
selenium==3.11.0
six==1.11.0
urllib3==1.22
urlparse2==1.1.1
urlparse3==1.1
virtualenv==16.0.0
virtualenv-clone==0.3.0
gunicorn==19.7.1

